<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Sayanraj Guha">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- Custom styles for this template -->
   <link href="css/styles.css" rel="stylesheet">
   <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
   <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
   <link href="css/styles.css" rel="stylesheet" type="text/css">
   <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </head>

  <body>

    <div class="container">
        <div class="row">
            <div class="row pull-right upload">
                <a href="#uploadVideoModal" data-toggle="modal" data-target="#uploadVideoModal" class="btn btn-success" role="button"><i class="fa fa-plus"></i>Upload</a>
            </div>
            <h1>One Minute Videos</h1>
            <p>Blitz 2016</p>
        </div>
        
        <div class="row">
    		<div class="col-md-8 col-lg-8">
    			<!-- artigo em destaque -->
    			<div class="featured-article">
    				<video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="640" height="264"
                       data-setup="{}">
                        <source src="view/movie.mp4" type='video/mp4'>
                        <source src="view/movie.webm" type='video/webm'>
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
    				<div class="block-title">
        					<h2>Video 1</h2>
    					<p class="by-author"><small>By Jhon Doe</small></p>
					    <p>
					    <div class="text-right comment-input">
					        <i class="fa fa-thumbs-up video-button" aria-hidden="true"><span id="likeCnt">0</span></i>
                            <i class="fa fa-thumbs-down video-button" aria-hidden="true"><span id="unlikeCnt">0</span></i>
					    </div>
					    
                        <div id="form-inline" class="comment-input">
                          	<div class="input-group">
                              <input type="text" class="form-control" placeholder="Write your comment here...">
                              <span class="input-group-btn">
                                <button class="btn btn-success" type="button">Post Comment</button>
                              </span>
                            </div>
                      	</div>
                        </p>
                        
    				</div>
    				
    				<div class="commentBox">
    				    <div class="comments-container">
                            <h1>Comments</h1>
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>

                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name by-author">Agustin Ortiz</h6>
                                                <span>20 minutes ago</span>
                                            </div>
                                            <div class="comment-content">
                                                Hello how r u?
                                            </div>
                                        </div>
                                    </div>
                                </li>
                    
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                                        
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                <h6 class="comment-name">Lorena Rojero</h6>
                                                <span>hace 10 minutes ago</span>
                                            </div>
                                            <div class="comment-content">
                                              Nice one bro!  
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
    				</div>
    			</div>
    			<!-- /.featured-article -->
    		</div>
    		<div class="col-md-4 col-lg-4">
    			<ul class="media-list main-list" id="listScroller">
    			  <li class="media">
    			    <a href="/view" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 2</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			 <li class="media">
    			    <a href="/view" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			 <li class="media">
    			    <a href="/" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 4</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>    			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			      			 <li class="media">
    			    <a href="#" class=".video-list-thumbs-a" title="Title">
            			<img src="http://i.ytimg.com/vi/ZKOtE9DOwGE/mqdefault.jpg" alt="Barca" class="img-responsive thumb" 
            			height="130px" />
            			<span class="glyphicon glyphicon-play-circle"></span>
            		</a>
    			    <div class="media-body">
    			      <h4 class="media-heading">Video 3</h4>
    			      <p class="label label-success">3:05</p>
                      <p class="label label-info pull-right">By Jane Doe</p>
    			    </div>
    			  </li>
    			</ul>
    		</div>
    	</div>
    	

        <footer class="blog-footer">
          <p>&copy; Happiest Minds Technologies</p>
        </footer>
    </div>
    <div class="modal fade" id="uploadVideoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Upload Video</h3>
      </div>	<!-- end modal-header -->
      <div class="modal-body">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="video" />
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Upload Files" class="btn btn-lg btn-primary" />
            </p>
        </form>
      </div><!--end modal-body-->
    </div>	<!-- end modal-content -->
  </div>	<!-- end modal dialog -->
</div>	<!-- end uploadVideoModal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
  </body>
</html>
