<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>Welcome</title>
       <link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
       <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
       <link href="css/styles.css" rel="stylesheet" type="text/css">
       <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    </head>
    
    <body>
        <div class="main">
            <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" autoplay width="640" height="264"
               data-setup="{}">
                <source src="view/movie.mp4" type='video/mp4'>
                <source src="view/movie.webm" type='video/webm'>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                  <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <div class="video-buttons">
                <i class="fa fa-thumbs-up video-button" aria-hidden="true"><span id="likeCnt">0</span></i>
                <i class="fa fa-thumbs-down video-button" aria-hidden="true"><span id="unlikeCnt">0</span></i>
            </div>
        </div>
        <script src="http://vjs.zencdn.net/5.8.8/video.js"></script>
    </body>
</html>